#fraktur{
	font-weight: bold;
	font-size: 14pt;
}

#tombolbeli{
	width: 150px;
	font-weight: bold;
	font-size: 14px;
}

#total{
	float: right;
}

#example{
	text-align: center;
}

#header{
	background:#E0E0E0;
}

.nh{
	text-align: center;
}